
.container{
    width:350px;
    margin:0 auto;
    padding-top: 200px;

    
}
.generator{
    background-color: #23235b;
    border-radius: 3px;
    box-shadow:  0px 2px 10px rgba(255,255,255, 0.2);
    padding:20px;
    margin-top: -150px;
}
.generator-header{
    text-align: center;
    color:white;
    margin-bottom: 20px;
}
.generator_password{
    position:relative;
    background: rgba(0,0,0,0.4);
    padding:13px 10px;
    color:white;
    height:46px;
    margin-bottom: 15px;
}
.copy-btn{
    position: absolute;
    background-color: #3b3b98;
    color:#fff;
    height:40px;
    padding: 10px;
    cursor:pointer;
    top:3px;
    right:3px;
}
.generator-btn{
    background-color: #3b3b98;
    border:none;
    display: block;
    width:100%;
    padding:10px;
    color:#fff;
    font-size: 17px;
    cursor:pointer;

}
.form-group{
    display: flex;
    justify-content: space-between;
    color:#fff;
    margin-bottom: 15px ;
}


@keyframes move {
    100% {
        transform: translate3d(0, 0, 1px) rotate(360deg);
    }
}

.background {
    position: fixed;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    background: black;
    overflow: hidden;
    z-index: -1;
}

.background span {
    width: 20vmin;
    height: 20vmin;
    border-radius: 20vmin;
    backface-visibility: hidden;
    position: absolute;
    animation: move;
    animation-duration: 36;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}


.background span:nth-child(0) {
    color: #FFACAC;
    top: 48%;
    left: 52%;
    animation-duration: 10s;
    animation-delay: -114s;
    transform-origin: -6vw 16vh;
    box-shadow: 40vmin 0 5.410736915782138vmin currentColor;
}
.background span:nth-child(1) {
    color: #000000;
    top: 16%;
    left: 90%;
    animation-duration: 104s;
    animation-delay: -101s;
    transform-origin: 3vw 18vh;
    box-shadow: 40vmin 0 5.510184031769618vmin currentColor;
}
.background span:nth-child(2) {
    color: #FFACAC;
    top: 41%;
    left: 14%;
    animation-duration: 123s;
    animation-delay: -12s;
    transform-origin: 13vw -15vh;
    box-shadow: 40vmin 0 5.845015073259558vmin currentColor;
}
.background span:nth-child(3) {
    color: #000000;
    top: 47%;
    left: 72%;
    animation-duration: 86s;
    animation-delay: -12s;
    transform-origin: 16vw -23vh;
    box-shadow: -40vmin 0 5.585608043211259vmin currentColor;
}
.background span:nth-child(4) {
    color: #E45A84;
    top: 58%;
    left: 77%;
    animation-duration: 52s;
    animation-delay: -85s;
    transform-origin: 17vw -1vh;
    box-shadow: 40vmin 0 5.897841845542252vmin currentColor;
}
.background span:nth-child(5) {
    color: #E45A84;
    top: 90%;
    left: 89%;
    animation-duration: 99s;
    animation-delay: -56s;
    transform-origin: 13vw -7vh;
    box-shadow: 40vmin 0 5.088779634689994vmin currentColor;
}
.background span:nth-child(6) {
    color: #E45A84;
    top: 82%;
    left: 97%;
    animation-duration: 13s;
    animation-delay: -60s;
    transform-origin: -2vw 3vh;
    box-shadow: -40vmin 0 5.602386759729732vmin currentColor;
}
.background span:nth-child(7) {
    color: #E45A84;
    top: 61%;
    left: 72%;
    animation-duration: 64s;
    animation-delay: -127s;
    transform-origin: -2vw -14vh;
    box-shadow: -40vmin 0 5.132672833954787vmin currentColor;
}
.background span:nth-child(8) {
    color: #000000;
    top: 57%;
    left: 72%;
    animation-duration: 145s;
    animation-delay: -38s;
    transform-origin: 4vw -11vh;
    box-shadow: 40vmin 0 5.701666161971452vmin currentColor;
}
.background span:nth-child(9) {
    color: #000000;
    top: 64%;
    left: 74%;
    animation-duration: 103s;
    animation-delay: -133s;
    transform-origin: 1vw 17vh;
    box-shadow: -40vmin 0 5.998272021745002vmin currentColor;
}
.background span:nth-child(10) {
    color: #E45A84;
    top: 56%;
    left: 20%;
    animation-duration: 75s;
    animation-delay: -36s;
    transform-origin: -14vw 18vh;
    box-shadow: 40vmin 0 5.106314532957509vmin currentColor;
}
.background span:nth-child(11) {
    color: #000000;
    top: 91%;
    left: 18%;
    animation-duration: 28s;
    animation-delay: -108s;
    transform-origin: 18vw -13vh;
    box-shadow: 40vmin 0 5.6807035570818085vmin currentColor;
}
.background span:nth-child(12) {
    color: #FFACAC;
    top: 29%;
    left: 56%;
    animation-duration: 61s;
    animation-delay: -35s;
    transform-origin: -24vw 15vh;
    box-shadow: -40vmin 0 5.906884567098899vmin currentColor;
}
.background span:nth-child(13) {
    color: #FFACAC;
    top: 81%;
    left: 59%;
    animation-duration: 27s;
    animation-delay: -90s;
    transform-origin: -19vw 22vh;
    box-shadow: 40vmin 0 5.24003574895234vmin currentColor;
}
.background span:nth-child(14) {
    color: #E45A84;
    top: 3%;
    left: 81%;
    animation-duration: 68s;
    animation-delay: -11s;
    transform-origin: 25vw 5vh;
    box-shadow: -40vmin 0 5.992682407673064vmin currentColor;
}
.background span:nth-child(15) {
    color: #000000;
    top: 14%;
    left: 38%;
    animation-duration: 32s;
    animation-delay: -126s;
    transform-origin: 3vw 9vh;
    box-shadow: -40vmin 0 5.471548599892017vmin currentColor;
}
.background span:nth-child(16) {
    color: #000000;
    top: 6%;
    left: 12%;
    animation-duration: 118s;
    animation-delay: -133s;
    transform-origin: 15vw -8vh;
    box-shadow: -40vmin 0 5.52380586961233vmin currentColor;
}
.background span:nth-child(17) {
    color: #E45A84;
    top: 26%;
    left: 6%;
    animation-duration: 74s;
    animation-delay: -76s;
    transform-origin: 8vw -23vh;
    box-shadow: -40vmin 0 5.60149481326182vmin currentColor;
}
.background span:nth-child(18) {
    color: #E45A84;
    top: 36%;
    left: 21%;
    animation-duration: 65s;
    animation-delay: -66s;
    transform-origin: 13vw 6vh;
    box-shadow: 40vmin 0 5.281776359613028vmin currentColor;
}
.background span:nth-child(19) {
    color: #000000;
    top: 4%;
    left: 63%;
    animation-duration: 41s;
    animation-delay: -57s;
    transform-origin: 0vw 16vh;
    box-shadow: 40vmin 0 5.205338897654861vmin currentColor;
}
